* {
  box-sizing: border-box;
}

body {
  background-color: #264653;
  position: relative;
}

.bar {
  display: flex;
}

.mobile-view {
  display: none;
}

@media (max-device-width: 640px) {
  .bar {
    display: none;
  }

  .mobile-view {
    display: block;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #e9c46a;
    border-radius: 8px;
  }
}

.item-drag {
  width: 146px;
  height: 16px;
}
.item-drag:hover {
  cursor: move;
}

.item {
  background-color: #e9c46a;
  height: 50vh;
  width: 20vw;
  margin: 0 15px;
  border-radius: 5px;
  padding: 10px 10px;
}

.item-text {
  display: inline-block;
  height: 40px;
  width: 16vw;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: #2a9d8f;
  margin-bottom: 5px;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.205);
  cursor: default;
}

.item-text__list {
  display: none;
}

.item-text__list__items {
  background-color: #ebebeb;
  padding: 0 18px 5px 18px;
  min-width: 120px;
  font-size: 14px;
}

.item-text__list__items:hover {
  background-color: #9eb1cd;
  padding: 0 18px 5px 18px;
  cursor: default;
}

.dragging {
  opacity: 0.5;
}
